<h2> Add a new watch list </h2>

<%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: 'btn btn-primary'  %>
<% end %>

<%=link_to 'Go back to list overview', root_path%>
