<h2><%= @list.name %></h2>

<ul style="list-style: none;">
<% @list.bookmarks.each do |bookmark|%>
<li>
<%=bookmark.comment%>
</li>
<li>
<img src=<%=bookmark.movie.poster_url%> alt="movie poster" width="200">
</li>
<% end %>
</ul>

<%=link_to 'Back to overview', root_path%>
<%=link_to 'Create a new bookmark', new_list_bookmark_path(@list)%>
